<div class="container" xmlns:color="http://www.w3.org/1999/xhtml">
    <div class="row" style="margin-top:50px;">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="form-box">
                <div class="form-top">
                    <div class="wrap">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="description">
                                <img src="assets\img\nxsearch-logo.png" style="width :200px;">
                            </div>
                        </div>
                        <div class="col-md-3 form-top-right text-center">
                            <i class="fa fa-lock"> </i>
                        </div>
                    </div>
                    <div class="form-top-left text-center">
                        <p>Enter Username and Password</p>
                    </div>
                </div>
                <div class="form-bottom">
                    
                        <!--<li><a data-toggle="tab" href="#sectionB">Join us!</a></li>-->                           
                                <div class="innter-form" ng-controller="loginController">
                                    <form class="login-form">
                                        <div class="form-group">
                                        <input type="text" ng-model="formData.Email" placeholder="Username" name="Email" autofocus>

                                        <input type="password" name="Password" placeholder="Password" ng-model="formData.Password">
                                        <button class="btn btn-success" ng-click="login()">Sign In</button>
                                        </div>
                                    </form>
                                </div>                                         
                </div>
            </div>