<script>
    $(function() {
        $('.nav-tabsH a').on('click', function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });

    $(function() {
        $('.navbar-toggle1 collapsed').on('click', function(e) {
            $(this).tab('show');
        });
    });

    $(function() {
        $('.navbar-nav .open .dropdown-menu').on('click', function(e) {
            $(this).tab('hide');
        });
    });
</script>
<!-- Header -->
				<header id="header" class="kw-header kw-dark">

				<!-- - - - - - - - - - - - - - Header Top Bar - - - - - - - - - - - - - - - - -->

				

				<!-- - - - - - - - - - - - - - End of Header Top Bar - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Header Section - - - - - - - - - - - - - - - - -->

				<div class="kw-hsection kw-sticky">

					<div class="row">

						<div class="col-sm-12 col-md-2 text-center">

							<!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

							<a href="/">

								<img src="assets/img/NX-LOGO-300x66.png" alt="">

							</a>

							<!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - -->

						</div>
                        <!-- - - - - - - - - - - - - - sEARCH FORM- - - - - - - - - - - - - - - - -->
                        <div class="col-md-7 col-xs-12 formbackground2" style="padding-top:10px;" ng-controller="InstantSearchController">
                            <div class="col-md-12 col-xs-12">
                                <form>
                                    <div class="col-md-3 col-sm-3 col-xs-12 nopadforsearch">

                                        <select class="form-control" select2="" name="city" data-ng-model="client.selectedCityModel" ng-options="c.city as c.city for c in client.cities" ng-disabled="disabled">
                                                                <option value=""><i class="fa fa-map-marker" aria-hidden="true"></i> Select City</option>
                                                            </select>

                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12 nopadforsearch">
                                        <div>
                                            <select class="form-control" select2="" name="city" data-ng-model="MainAreas.selectedAreaModel.Area" ng-options="c.Area as c.Area for c in MainAreas.areas | orderBy : 'Area' " ng-disabled="disabled">
                                                                <option value="">Select Area</option>
                                                            </select>
                                            <!--{{MainAreas.selectedAreaModel}}-->
                                        </div>

                                    </div>


                                    <div class="col-md-4 col-sm-4 col-xs-12 nopadforsearch">
                                        <div class="form-group" id="showdiv" ng-blur="EnableData = false">
                                            
                                            <input type="text" ng-value="selectedCategory | slug1" class="formInput showdiv" id="exampleInputPassword2" ng-model="searchString" ng-change="callScriptThenServer(searchString)" ng-focus="EnableData= true" ng-click="loadDefaultCategories()" ng-keyup="loadClient()" click-anywhere-but-here="EnableData=false" style="height: 50px;" autocomplete="off"/>

                                            <div ng-show="EnableTextInputResult == false || EnableData" id="showId" class="scrollable-menu" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 100%;height:900px;">
                                                <div ng-repeat="i in Categories |  filter : searchString track by $index">
                                                    <a href="" ng-click="gotoResultsPageByCategory(i)">
                                                        <div class="list_dropdown">
                                                            {{i}}
                                                        </div>
                                                    </a>
                                                </div>
                                                <div ng-repeat="i in SubCategories |  filter : searchString track by $index">
                                                    <a href="" ng-click="gotoResultsPageBySubCategory(i)">
                                                        <div class="list_dropdown">
                                                            {{i}}
                                                        </div>
                                                    </a>


                                                </div>

                                                <div ng-repeat="i in clients |filter : {isPaidClient:true}  |  filter : searchString track by $index " ng-click="doSomething($event, 1)">
                                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugifynolower}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug}}/{{i._id}}">
                                                        <div class="list_dropdown">
                                                            <b> {{i.ClinicName}}</b>
                                                            <br/>
                                                        </div>
                                                    </a>
                                                </div>

                                                <!--<div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugifynolower}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug}}/{{i._id}}">
                                                        <div class="list_dropdown">
                                                            <span class="text-center;">{{i.DoctorName}}</span>
                                                            <br/>
                                                        </div>
                                                    </a>
                                                </div> -->
                                            </div>

                                        </div>
                                        <span class="clearInput" ng-click="clearInput()">X</span>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-12 text-center nopadforsearch">
                                        
                                        

										<button class="kw-btn-big kw-yellow" style="width:100%" type="submit">Search</button>

									
                                    </div>
                                </form>
                            </div>
                        </div> 


                        <!-- - - - - - - - - - - - - - End of SEARCH FORM - - - - - - - - - - - - - - - - -->

						<div class="col-sm-12 col-xs-12 col-md-3">

							<div class="kw-hcontent text-center">
                                    

								<!-- - - - - - - - - - - - - - End of Navigation - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Add Listing - - - - - - - - - - - - - - - - -->

								<a href="/register" class="kw-btn-medium kw-yellow-type-2">Add Listing</a> 

								<!-- - - - - - - - - - - - - - End of Add Listing - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-hcontent -->

						</div>

					</div><!--/ .kw-sm-table-row.row -->

				</div>

				<!-- - - - - - - - - - - - - - End of Header Section - - - - - - - - - - - - - - - - -->

		</header>
<!-- Header End -->
<!-- Page Container -->
<div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well_new" style="background-color: #f1efef;">

        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-controller="dashResultsController as up">
         <h3 class="text-center" ng-show="currentPath == '/addClient'">Add Client</h3>
            <div class="col-md-12 asdf" ng-repeat="business in businessname">
                <h3 class="text-center">Edit Client {{business.ClinicName}}</h3>
               
            </div>
            <div  class="alert" style="color:#3c763d">
                 <strong> {{successMsg}}</strong>
            </div>
            <div class="ng-hide">
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/">Home</a></h5>&nbsp;
                <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp;
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="city"></span></h5>
                &nbsp;<i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i> &nbsp;
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a id="categry" href=""> <span id="category"></span></a>
                </h5>&nbsp;
                <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp;
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="area"></span>&nbsp;</h5>
                &nbsp;
                <h1 style="font-size: 14px; display: inline; "> <b>{{aaa}}</b> matches found for: <b id="keyword"></b></h1>
                <li class="login">
                    <i id="shareBtn" class="fa fa-facebook-square fa-2x" style="color: #365899; cursor: pointer; padding-top: 15px;"></i>
                </li>
            </div>
            <!--Form toggle-->
            <form name="ClientForm">
                <div class="col-md-12 col-xs-12 col-sm-12">

                    <!--<button type="button" class="navbar-toggle1 collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>-->

                    <div id="navbar" class="navbar-collapse">
                        <ul class="nav nav-tabsH nav-justified">
                            <li class="active"><a href="#Basic" data-toggle="tab">Basic Info</a></li>
                            <li><a href="#Category" data-toggle="tab" aria-expanded="false">Category Info</a></li>
                            <li><a href="#Area" data-toggle="tab" aria-expanded="false">Area Info</a></li>
                            <li><a href="#Address" data-toggle="tab" aria-expanded="false">Address and time</a></li>                         
                            
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    
                        <!--Hidden div-->
                        <div class="col-lg-12 col-sm-12 col-xs-12">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 ng-hide">Email:</label>
                                    <div class="col-lg-8">
                                        <input type="hidden" ng-model="formData.email" name="email" class="form-control text-center" placeholder="Enter Email" />
                                        <div ng-show="ClientForm.email.$touched && ClientForm.email.$invalid">
                                            <small style="color: red; display: block; text-align: center">Please Enter Valid Email</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="col-lg-12 col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <label class="col-lg-4 ng-hide">Password:</label>
                                        <div class="col-lg-8">
                                            <input type="hidden" ng-model="formData.password" name="password" class="form-control text-center" placeholder="Enter Password" />
                                            <div ng-show="ClientForm.password.$touched && ClientForm.password.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Enter Correct Password</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Hidden div End-->
                        <div id="Basic" class="row tab-pane active">
                                <div class="col-sm-12 col-md-12 TitleBoxAC">
                                    <h5>Basic Information</h5>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <input type="hidden" ng-model="formData._id">
                                        <div class="form-group">
                                            <label class="col-lg-4 col-md-4 col-sm-4">Title*:</label>
                                            <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                                <input type="text" ng-model="formData.ClinicName" name="title" class="form-control text-center" placeholder="Enter Title" ng-required="true" />
                                                <div ng-show="ClientForm.title.$touched && ClientForm.title.$invalid">
                                                    <small style="color: red; display: block; text-align: center">Please Enter Title</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Name*:</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                            <input type="text" ng-model="formData.DoctorName" name="clientname" class="form-control text-center" placeholder="Enter Client Name" ng-required="true" />
                                            <div ng-show="ClientForm.clientname.$touched && ClientForm.clientname.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Enter Client Name</small>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12"> <span><br></span></div>
                                <div class="col-md-12">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 col-md-4 col-sm-4">Profession*:</label>
                                            <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                                <input type="text" ng-model="formData.Profession" name="profession" class="form-control text-center" placeholder="Enter Profession" ng-required="true" />
                                                <div ng-show="ClientForm.profession.$touched && ClientForm.profession.$invalid">
                                                    <small style="color: red; display: block; text-align: center">Please Enter Client Profession</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 col-md-4 col-sm-4">Speciality:</label>
                                            <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                                <input type="text" ng-model="formData.speciality" name="speciality" class="form-control text-center" placeholder="Enter Speciality"/>
                                                <div ng-show="ClientForm.speciality.$touched && ClientForm.speciality.$invalid">
                                                    <small style="color: red; display: block; text-align: center">Please Enter Client Speciality</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12"> <span><br></span></div>
                                <!--experience-->
                                <div class="col-lg-12 col-md-12 col-sm-12"> 
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 col-md-4 col-sm-4">Experience*:</label>
                                            <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                                <input type="text" ng-model="formData.Experience" name="experience" class="form-control text-center" placeholder="Enter only Number" ng-required="true" />
                                                <div ng-show="ClientForm.experience.$touched && ClientForm.experience.$invalid">
                                                    <small style="color: red; display: block; text-align: center">Please Enter Client Experience</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                          <div class="form-group">
                                        <label class="col-lg-2 col-md-4 col-sm-4">Profile Image:</label>
                                        <div class="col-lg-10 col-md-8 col-sm-12">
                                            <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />
                                            
                                            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                                            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                                                {{up.file.size / 1000000|number:1}}MB: max 20M</i>

                                        </div>
                                    </div>
                                    </div>
                                    <img style="width:10%;" ngf-thumbnail="up.file || '/thumb.jpg'" />
                                </div>
                        </div>

                        <!--this is select category part-->
                        <div id="Category" class="row tab-pane fade">
                            <div class="col-sm-12 col-md-12 TitleBoxAC">
                                <h5>Category Information</h5>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 col-sm-6">Main Categories*:</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                            <select name="category" ng-options="s.mainCategoryName for s in sample" ng-model="selitemMain" ng-change="getMainselectval()" ng-required="true">
                                        <option value="">--Select Category--</option>
                                    </select>
                                            <div ng-show="ClientForm.category.$touched && ClientForm.category.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Select Category</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Categories*:</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">

                                            <select name="subcategory" ng-options="s.name for s in SubSample " ng-model="selitemCats" ng-change="getCatsselectval()" ng-required="true">
                                        <option value="">--Select SubCategory--</option>
                                    </select>
                                            <div ng-show="ClientForm.subcategory.$touched && ClientForm.subcategory.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Select SubCategory</small>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-12"> <span><br></span></div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-4 col-sm-4">Sub-Categories:</label>
                                    <div class="col-lg-10 well">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12 subs" style="border: solid 1px;">
                                                <input type="button" class="btn btn-info" value="Check All" ng-click="checkAll()">
                                                <label class="col-md-4 col-sm-4 col-xs-6" ng-repeat="sub in subCategories | orderBy" style="padding: 5px;">
                                                
                                                    <div class="col-md-12 col-xs-12 pull-left">
                                                        <input type="checkbox" class="pull-left" checklist-model="SubCatetories.subs" checklist-value="sub">
                                                        <span class="pull-left">&nbsp;&nbsp;{{sub}}</span>
                                                    </div>

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-tabsH">
                               <!-- <a href="#Area" data-toggle="tab" aria-expanded="true"><button> Next</button></a>-->
                                </div>
                            </div>
                        </div>
                        <!--end of category part-->

                        <!--this is select Location part-->
                        <div id="Area" class="row tab-pane fade">
                            <div class="col-sm-12 col-md-12 TitleBoxAC">
                                <h5>Area Information</h5>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Main City*:</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                            <select name="maincity" ng-options="s.city for s in locations" ng-model="selitemLocations" ng-change="getLocationselectval()" ng-required="true">
                                        <option value="">--Select Location--</option>
                                    </select>
                                            <div ng-show="ClientForm.maincity.$touched && ClientForm.maincity.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Select Main City</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 col-sm-4">Area*:</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12 inputMargin">
                                            <select name="area" ng-options="s.Area for s in SubLocationsSample " ng-model="selitemSubLocations" ng-change="getSubLocationselectval()" ng-required="true">
                                        <option value="">--Select Area--</option>
                                    </select>
                                            <div ng-show="ClientForm.area.$touched && ClientForm.area.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Select Area</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12"> <span><br></span></div>
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-4">Sub-Areas:</label>
                                        <div class="col-lg-10 col-md-10 col-sm-12 subox pre-scrollable">
                                            <div class="row">
                                                <div class="col-xs-12" style="border: solid 1px;">
                                                    <div class="form-group">

                                                        <label class="col-md-4 col-sm-4" ng-repeat="sub in subLocationCategories track by $index" style="padding: 5px;">
                                                    <input type="checkbox" checklist-model="SubLocationCatetories.subs" checklist-value="sub"> {{sub}}
                                                </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    

                        <!--end of Location part-->
                        <div id="Address" class="row tab-pane fade">
                            <!--Time Start here -->
                            <div class="col-sm-12 col-md-12 TitleBoxAC">
                                <h5>Time, Address and Contact Info</h5>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <label class="col-lg-12 col-md-12 col-sm-4">Timings</label>
                                    <div class="form-group">                                     
                                            <label class="col-lg-2 col-md-2 col-sm-6">1st Half*:</label>
                                            <div class="col-lg-10 col-md-10 col-sm-12 inputMargin">
                                            <input type="text" ng-model="formData.FirstHalfTime" name="firsthalf" class="form-control text-center" placeholder="Enter First Half Time" ng-required="true" />
                                            <div ng-show="ClientForm.firsthalf.$touched && ClientForm.firsthalf.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Enter First Half Time</small>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-4">2nd Half:</label>
                                            <div class="col-lg-10 col-md-10 col-sm-12 inputMargin">
                                                <input type="text" ng-model="formData.SecondHalfTime" name="secondform" class="form-control text-center" placeholder="Enter Second Half Time" />
                                                <div ng-show="ClientForm.secondform.$touched && ClientForm.secondform.$invalid">
                                                    <small style="color: red; display: block; text-align: center">Please Enter Second Half Time</small>
                                                </div>
                                            </div>                                        
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-2 col-sm-6">Mobile Number*:</label>
                                                <div class="col-lg-8 col-md-10 col-sm-12 inputMargin">
                                                    <input type="text" ng-model="formData.extensionNo" name="" class="form-control text-center" placeholder="Enter Mobile no" ng-minlength="10" ng-maxlength="10">
                                                </div>
                                            </div>
                                       

                                        
                                           
                                        
                                    </div>
                                   
                                </div>
                            </div>
                            <!--Time Ends Here-->


                            <div class="col-lg-12 col-sm-12 col-md-12"> <span><br></span></div>
                            <!--other data
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-lg-4">Registration No:</label>
                                        <div class="col-lg-8">
                                            <input type="text" ng-model="formData.RegistrationNo" name="registration" class="form-control text-center" placeholder="Enter RegistrationNo" />
                                            <div ng-show="ClientForm.registration.$touched && ClientForm.registration.$invalid">
                                                <small style="color: red; display: block; text-align: center">Please Enter Registration Number</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="col-lg-12">

                                        <div class="form-group">
                                            <label class="col-lg-4">Order:</label>
                                            <div class="col-lg-8">
                                                <input type="text" ng-model="formData.Order" name="order" class="form-control text-center" placeholder="Enter Order"  />
                                                <div ng-show="ClientForm.order.$touched && ClientForm.order.$invalid">
                                                    <small style="color: red; display: block; text-align: center">Please Enter Order</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            

                            <!--<input type="text" ng-model="formData.ContactNumber2" name="" class="form-control text-center" placeholder="Enter contact no" ng-required="true">-->

                            <div class="col-lg-12 col-sm-12 col-md-12"> <span><br></span></div>

                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12">
                                            <label class="col-lg-4 col-md-2 col-sm-4">Address*:</label>
                                            <div class="col-lg-8 col-md-10 col-sm-8">
                                                <div class="col-lg-12 col-md-12 col-sm-12 inputMargin" style="bottom-margin:10px;">
                                                    <input type="text" ng-model="formData.address1" name="" class="form-control text-center" placeholder="Address Line 1" ng-required="true">
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 inputMargin">
                                                    <input type="text" ng-model="formData.address2" name="" class="form-control text-center" placeholder="Address Line2 mention area and city" ng-required="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                            <!--end of Address time part-->
                      <button type="submit" class="btn btn-primary btn-lg" ng-click="createEditRec()" ng-disabled="ClientForm.$invalid">{{btnValue}}</button>
                        </div>   
                    
                </div>
            </form>

        </div>
    </div>

</div>
<!--old container-->

<!--  End of Page Container  -->



<!-- Footer -->
	<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

			<footer id="footer" class="kw-footer">

				<!-- - - - - - - - - - - - - - Newsletter Section - - - - - - - - - - - - - - - - -->

				<div class="kw-newsletter-section">

					<!-- - - - - - - - - - - - - - Background Icon - - - - - - - - - - - - - - - - -->

					<i class="lnr icon-envelope kw-section-icon"></i>

					<!-- - - - - - - - - - - - - - End of Background Icon - - - - - - - - - - - - - - - - -->

					<div class="container">

						<div class="kw-newsletter">

							<h3 class="kw-title">Sign Up to Newsletter</h3>

							

							<!-- - - - - - - - - - - - - - Newsletter Form - - - - - - - - - - - - - - - - -->

							<form class="kw-newsletter-form kw-inline-form" method="POST">

								<div class="kw-input-wrapper">

									<input type="text" name="email" autocomplete="off" placeholder="Enter your email address...">

								</div><!--/ .kw-input-wrapper -->

								<button type="submit" class="kw-btn-big kw-yellow" name="newsletter_submit">Sign Up</button>

							</form>

							<!-- - - - - - - - - - - - - - End of Newsletter Form - - - - - - - - - - - - - - - - -->

						</div><!--/ .kw-newsletter -->

					</div><!--/ .container -->

				</div>

				<!-- - - - - - - - - - - - - - End of Newsletter Section - - - - - - - - - - - - - - - - -->

				<div class="container">

					<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

					<div class="kw-fsection">

						<div class="kw-footer-widget-area kw-cols-4">

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<div class="kw-widget">

									<a href="/" class="kw-footer-logo"><img src="assets/img/NX-LOGO-300x66.png" alt="nxsearxh.com"></a>

									

									<ul class="kw-social-links">

										<li><a href="https://www.facebook.com/nxsearch" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href=""><i class="fa fa-google-plus" target="_blank"></i></a></li>
										<li><a href="https://twitter.com/nxsearch" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.instagram.com/nxsearch_com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
										<!--<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>-->

									</ul>

								</div>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<section class="kw-widget">

									<h4 class="kw-widget-title">Company</h4>

									<ul>

										<li><a href="/aboutus">About Us</a></li>										
										<li><a href="/career">Careers</a></li>
										<li><a href="contactus">Contact Us</a></li>

									</ul>

								</section>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

                            <!--/ .kw-widget-col -->

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<section class="kw-widget">

									<h4 class="kw-widget-title">Quick Links</h4>

									<ul>

										<li><a href="#">How It Works</a></li>
										<li><a href="#">Add Listing</a></li>
                                        <li><a href="#">Blog</a></li>

									</ul>

								</section>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<section class="kw-widget">

									<h4 class="kw-widget-title">Terms</h4>

									<ul>										
										<li><a href="/termsandconditions">Terms & Conditions</a></li>
										<li><a href="/privacypolicy">Privacy Policy</a></li>
										<li><a href="/disclaimer">Disclaimer</a></li>

									</ul>

								</section>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

						</div><!--/ .kw-footer-widget-area -->

					</div>

					<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

				</div><!--/ .container -->

				<!-- - - - - - - - - - - - - - Copyright Section - - - - - - - - - - - - - - - - -->

				<div class="kw-copyright">

					<div class="container">

						<p>Copyright <a href="/">NXsearch</a> &copy; 2017. All Rights Reserved</p>

					</div><!--/ .container -->

				</div>

				<!-- - - - - - - - - - - - - - End of Copyright Section - - - - - - - - - - - - - - - - -->

			</footer>

			<!-- - - - - - - - - - - - - - End of Footer - - - - - - - - - - - - - - - - -->
<!-- Footer End --> 