<!-- Header -->
<div class="row dash_head navbar-fixed-top">
        
            <div class="container-fluid">
                <div class="col-md-12 col-xs-12 col-sm-12" style="padding-top:11px; padding-bottom:11px">
                     <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="col-md-12 col-xs-12 text-center">
                            <a href="/clientlist" itemprop="logo"><img itemprop="logo" class="img-responsive center-block" src="/assets/img/NX-LOGO-300x66.png" alt="NX-Search" width="160px" height="65px" /></a>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                         
                        <div ng-show="isAuthenticated" class="pull-right" ng-controller="loginController"><button class="btn btn-danger" ng-click="logout()"><i class="fa fa-user"></i> LogOut </button></div>
                        <a href="http://nxsearch.com" target="_blank"><button class="btn btn-info">Go to nxsearch.com </button></a>
                        
                    </div>
                </div>
            </div>
        
</div>
<!-- Header End -->

    <div class="col-md-2 dash_sidebar">
        <nav class="navbar navbar-inverse">
            <ul class="nav nav-pills nav-stacked" ng-if="isAuthenticated">
              <!--<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/login"><i class="fa fa-user"></i> Login/Register</a></li>-->
                 <li>&nbsp;&nbsp;&nbsp;<span ng-show="isAuthenticated" class="fa fa-user" style="color:white;font-size:17px;margin-top:7px;margin-top:17px;"> <b>&nbsp;&nbsp;&nbsp;&nbsp;Hello Admin</b></span></li><hr>
              <li><a href="/clientlist"><i class="fa fa-users"></i>Clientlist</a></li>
                <li><a href="/addClient"><i class="fa fa-user"></i> Add Clients</a></li>
                <li><a href="/enquiryDetails"><i class="fa fa-shield"></i> Enquiry Details</a></li>
                <li><a href="/categories"><i class="fa fa-shield"></i> Categories</a></li>
                <li><a href="/addCities"><i class="fa fa-map-marker"></i> Add Cities</a></li>
                <li><a href="/export"><i class="fa fa-cloud-download"></i> Export </a></li>
                <!-- <li><a href="/homepage"><i class="fa fa-user"></i>profile</a></li>-->
            </ul>
        </nav>
    </div>
    <div class="col-md-10 col-md-offset-2 well_new" style="top:86px; background-color: #f1efef;">
<div ng-controller="updateHomeServicesGalleryAllController as up" ng-init="initGallaryUpdate()">

    <div class="col-sm-8 col-sm-offset-2 text-center">
        
        <input type="hidden" ng-model="formData._id">
        <input type="hidden" ng-model="formData.ClinicId" >
        <div class="col-md-12">
                    <label>Update Gallary</label>
                    <input  <input  <input
                            type="file" 
							ngf-select
							ng-model="up.file" 
							name="file"
							ngf-pattern="'image/*'"
							accept="image/*" 
							ngf-max-size="20MB" 
							/>
        </div>       
                <div><br></div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="EditGallary()" >Update Gallary</button>

    </div>
           
</div>
</div>