<!-- Header -->
<div class="row dash_head navbar-fixed-top">
        
            <div class="container-fluid">
                <div class="col-md-12 col-xs-12 col-sm-12" style="padding-top:11px; padding-bottom:11px">
                     <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="col-md-12 col-xs-12 text-center">
                            <a href="/clientlist" itemprop="logo"><img itemprop="logo" class="img-responsive center-block" src="/assets/img/NX-LOGO-300x66.png" alt="NX-Search" width="160px" height="65px" /></a>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                         
                        <div ng-show="isAuthenticated" class="pull-right" ng-controller="loginController"><button class="btn btn-danger" ng-click="logout()"><i class="fa fa-user"></i> LogOut </button></div>
                        <a href="http://nxsearch.com" target="_blank"><button class="btn btn-info">Go to nxsearch.com </button></a>
                        
                    </div>
                </div>
            </div>
        
</div>
<!-- Header End -->



    <div class="col-md-2 col-sm-2 dash_sidebar">
        <nav class="navbar navbar-inverse">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                
            </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav nav-pills nav-stacked" ng-if="isAuthenticated">
              <!--<li><a href="/"><i class="fa fa-home"></i> Home</a></li> 
                <li><a href="/login"><i class="fa fa-user"></i> Login/Register</a></li>-->
                 <li>&nbsp;&nbsp;&nbsp;<span ng-show="isAuthenticated" class="fa fa-user" style="color:white;font-size:17px;margin-top:7px;margin-top:17px;"> <b>&nbsp;&nbsp;&nbsp;&nbsp;Hello Admin</b></span></li><hr>
                <li><a href="/clientlist"><i class="fa fa-users"></i>Clientlist</a></li>
                <li><a href="/addClient"><i class="fa fa-user"></i> Add Clients</a></li>
                <li><a href="/enquiryDetails"><i class="fa fa-shield"></i> Enquiry Details</a></li>
                <li><a href="/categories"><i class="fa fa-shield"></i> Categories</a></li>
                <li><a href="/addCities"><i class="fa fa-map-marker"></i> Add Cities</a></li>
                <li><a href="/export"><i class="fa fa-cloud-download"></i> Export </a></li>
                <!-- <li><a href="/homepage"><i class="fa fa-user"></i>profile</a></li>-->
            </ul>
         </div>   
        </nav>
    </div>
    <!-- Navigation End -->

    <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 well_new" style="top:86px; background-color: #f1efef;overflow-x: hidden;">
        
            
            <div id="myForm" class="col-md-12" ng-controller="categoriesController">
                <div class="col-sm-10 col-sm-offset-1 dashboard" style="margin-top: 25px;">
                    <form name="categoryForm">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <h4 for="choice" class="text-center">Add Main Category, Category and Sub-Categories</h4>

                                </div>
                                <div class="col-md-3">
                                    <label for="Category">Main Category Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" ng-model="formData._id">
                                    <input type="text" ng-model="formData.mainCategoryName" name="MainCategory" class="form-control" placeholder="Enter a Main Category" ng-required="true">
                                    <div ng-show="categoryForm.MainCategory.$touched && categoryForm.MainCategory.$invalid">
                                        <small style="color: red; display: block; text-align: center">Please Enter Main Category</small>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="col-md-12" ng-repeat="cat in tempCategories">
                                <div class="col-md-12 well_new">
                                    <div class="col-md-12">
                                        <h4 for="choice" class="text-center">Category</h4>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="Category">Category Name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" ng-model="cat.id" name="category" class="form-control" placeholder="Enter Category Name" ng-required="true">
                                    </div>



                                <div class="col-md-3">
                                    <label for="Category">Page Title</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea type="text" ng-model="cat.categoryTitle" name="" class="form-control" maxlength="5000" placeholder="Enter Category Title"></textarea>
                                    <p> Length of Meta Keywords = <span style="color: #14a516; font-weight: bold;">{{cat.categoryTitle.length}}</span></p>
                                </div> 
                                
                               
                                    <div class="col-md-3">
                                        <label for="Category">Category Meta Description</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea ng-model="cat.categoryDescription" name="" class="form-control" maxlength="5000" placeholder="Enter Category Meta Description"></textarea>
                                        <p> Length of Meta Description = <span style="color: #14a516; font-weight: bold;">{{cat.categoryDescription.length}}</span></p>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="Category">Category Meta Keywords</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea type="text" ng-model="cat.categoryKeywords" name="" class="form-control" maxlength="5000" placeholder="Enter Category Keywords"></textarea>
                                        <p> Length of Meta Keywords = <span style="color: #14a516; font-weight: bold;">{{cat.categoryKeywords.length}}</span></p>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="Category">Category Long Description </label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea type="text" ng-model="cat.categoryDescriptionLong" name="" class="form-control" placeholder="Enter Category Description Long"></textarea>
                                    </div>
                                     <div class="col-md-3">
                                    <label for="Category">Category Extra</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea type="text" ng-model="cat.categoryExtra" name="" class="form-control" maxlength="5000" placeholder="Enter Category Extra"></textarea>
                                    <p> Length of Meta Keywords = <span style="color: #14a516; font-weight: bold;">{{cat.categoryExtra.length}}</span></p>
                                </div>

                                    <!--<input type="text" ng-model="cat.subCategoryDescription" name="" class="form-control text-center" placeholder="Enter a subCategoryDescription">-->

                                    <div ng-show="categoryForm.category.$touched && categoryForm.category.$invalid">
                                        <small style="color: red; display: block; text-align: center">Please Enter Category</small>
                                    </div>
                                    <hr />

                                    <div class="col-md-12">
                                        <h4 for="choice" class="text-center">Sub-categories</h4>
                                    </div>

                                    <div class="form-group" ng-repeat="choice in cat.subs">
                                        <!--<input type="text" ng-model="choice.name" name="" class="form-control text-center" placeholder="Enter a sub category">-->
                                        <div class="col-md-3">
                                            <label for="choice"><b>Sub-Category Name</b></label>
                                        </div>
                                        <div class="col-md-9">
                                            <input ng-model="choice.subCategoryName" name="" class="form-control " placeholder="Enter Sub-Category Name">
                                        </div>




                                    <div class="col-md-3">
                                        <label for="choice"><b>SubCategory Page Title </b></label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea ng-model="choice.subCategoryTitle" name="" class="form-control" maxlength="5000" placeholder="Enter Sub-Category Meta Description"></textarea>
                                        <p> Length of Meta Description = <span style="color: #14a516; font-weight: bold;">{{choice.subCategoryTitle.length}}</span></p>
                                    </div>
                                   
                                        <div class="col-md-3">
                                            <label for="choice"><b>Meta Keywords </b></label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea ng-model="choice.subCategoryKeywords" name="" class="form-control" maxlength="5000" placeholder="Enter Sub-Category Keywords"></textarea>
                                            <p> Length of Meta Keywords = <span style="color: #14a516; font-weight: bold;">{{choice.subCategoryKeywords.length}}</span></p>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="choice"><b>Meta Description </b></label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea ng-model="choice.subCategoryDescriptionShort" name="" class="form-control" maxlength="5000" placeholder="Enter Sub-Category Meta Description"></textarea>
                                            <p> Length of Meta Description = <span style="color: #14a516; font-weight: bold;">{{choice.subCategoryDescriptionShort.length}}</span></p>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="choice"><b>Long Description </b></label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea ng-model="choice.subCategoryDescriptionLong" name="" class="form-control" placeholder="Enter Sub-Category Description Long"></textarea>
                                           
                            </div>
                              <div class="col-md-3">
                                        <label for="choice"><b>Meta SubCategoryExtra </b></label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea ng-model="choice.subCategoryExtra" name="" class="form-control" maxlength="5000" placeholder="Enter Sub-Category Meta Description"></textarea>
                                        <p> Length of Meta Description = <span style="color: #14a516; font-weight: bold;">{{choice.subCategoryExtra.length}}</span></p>
                                    </div>

                            <div class="col-md-12" style="border-top: double  #79a4ca">
                                <br/>
                            </div>

                        </div>

                        <button class="btn btn-info" ng-click="addNewSubCategories(cat.id)">Add another Sub-category</button>
                        <hr />
                        <button class="btn btn-default" ng-click="addNewCategory()">Add New Category</button>
                        
                    </div>
                </div>
            </div>

            <br />
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary text-center" ng-disabled="categoryForm.$invalid" ng-click="createEditRec()">{{btnValue}}</button>
            </div>
        </form>

    </div>
    
</div>
     </div>
     
    </div>
    
 </div>
 <script>
     $("a[href='#top']").click(function() {
  $("html, body").animate({ scrollTop: 0 }, "slow");
  return false;
});
$("a[href='#bottom']").click(function() {
$('html,body').animate({ scrollTop: 9999 }, 'slow');
});

     </script>
 

<!-- refer this link  http://plnkr.co/edit/JCCa1f?p=preview-->